/* Styles for the series filter container */
.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #55a79d;
    border: 1px solid #feffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for the radio buttons and labels */
  .filter label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .filter input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #02070c;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
  }
  
  .filter input[type="radio"]:checked {
    background-color: #010408;
  }
  
  .filter span {
    font-size: 16px;
  }
  
  /* Styles for the selected radio button label */
  .filter input[type="radio"]:checked + span {
    font-weight: bold;
  }