<div class="filter">
   
    <input type="radio" value="all" name="filter" [(ngModel)]="radioButtonChangerSeries" (change)="onradioButtonChangedSeries()">
    <span>All Series{{'('+allS+')'}}</span>
    <input type="radio" value="action" name="filter" [(ngModel)]="radioButtonChangerSeries" (change)="onradioButtonChangedSeries()">
    <span>Action{{'('+actionS+')'}}</span>
    <input type="radio" value="thriller" name="filter" [(ngModel)]="radioButtonChangerSeries" (change)="onradioButtonChangedSeries()">
    <span>Thriller{{'('+thrillerS+')'}}</span>
    <input type="radio" value="adventure"name="filter"[(ngModel)]="radioButtonChangerSeries" (change)="onradioButtonChangedSeries()">
    <span>adventure{{'('+adventureS+')'}}</span>
    <input type="radio" value="horror" name="filter" [(ngModel)]="radioButtonChangerSeries" (change)="onradioButtonChangedSeries()">
    <span>horror{{'('+horrorS+')'}}</span>
    <input type="radio" value="sciencefiction" name="filter"[(ngModel)]="radioButtonChangerSeries" (change)="onradioButtonChangedSeries()">
    <span>Science Fiction{{'('+sciencefictionS+')'}}</span>
    <input type="radio" value="fantasy" name="filter"[(ngModel)]="radioButtonChangerSeries" (change)="onradioButtonChangedSeries()">
    <span>Fantasy{{'('+fantasyS+')'}}</span>
    <input type="radio" value="anime" name="filetr"[(ngModel)]="radioButtonChangerSeries" (change)="onradioButtonChangedSeries()">
    <span>Animes{{'('+animeS+')'}}</span>
    <input type="radio" value="drama" name="filter" [(ngModel)]="radioButtonChangerSeries" (change)="onradioButtonChangedSeries()">
    <span>Dramas{{'('+dramaS+')'}}</span>
    <input type="radio" value="war" name="filter"[(ngModel)]="radioButtonChangerSeries" (change)="onradioButtonChangedSeries()">
    <span>War{{'('+warmoviesS+')'}}</span>

</div>

