
.body {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  
  .content {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
 
  .heading {
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  
 
  .description {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
  }
  
  
  .cta-text {
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin-top: 20px;
  }
  
  
  .more-content {
    text-align: left;
    margin-top: 40px;
  }
  
  
  .more-content h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  

  .more-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  

  
  
  .banner-image {
    width: 100%;
    height: 500px; 
    background-image: url("../../assets/images/movie-9pvmdtvz4cb0xl37.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }