<div class="filter">
    <label>
      <input type="radio" value="all" name="filter" [(ngModel)]="radioButtonChanger" (change)="onradioButtonChanged()">
      <span>All Movies ({{ all }})</span>
    </label>
    <label>
      <input type="radio" value="action" name="filter" [(ngModel)]="radioButtonChanger" (change)="onradioButtonChanged()">
      <span>Action ({{ action }})</span>
    </label>
    <label>
      <input type="radio" value="thriller" name="filter" [(ngModel)]="radioButtonChanger" (change)="onradioButtonChanged()">
      <span>Thriller ({{ thriller }})</span>
    </label>
    <label>
      <input type="radio" value="adventure" name="filter" [(ngModel)]="radioButtonChanger" (change)="onradioButtonChanged()">
      <span>Adventure ({{ adventure }})</span>
    </label>
    <label>
      <input type="radio" value="horror" name="filter" [(ngModel)]="radioButtonChanger" (change)="onradioButtonChanged()">
      <span>Horror ({{ horror }})</span>
    </label>
    <label>
      <input type="radio" value="sciencefiction" name="filter" [(ngModel)]="radioButtonChanger" (change)="onradioButtonChanged()">
      <span>Science Fiction ({{ sciencefiction }})</span>
    </label>
    <label>
      <input type="radio" value="fantasy" name="filter" [(ngModel)]="radioButtonChanger" (change)="onradioButtonChanged()">
      <span>Fantasy ({{ fantasy }})</span>
    </label>
    <label>
      <input type="radio" value="anime" name="filter" [(ngModel)]="radioButtonChanger" (change)="onradioButtonChanged()">
      <span>Anime Movies ({{ anime }})</span>
    </label>
    <label>
      <input type="radio" value="drama" name="filter" [(ngModel)]="radioButtonChanger" (change)="onradioButtonChanged()">
      <span>Dramas ({{ drama }})</span>
    </label>
    <label>
      <input type="radio" value="war" name="filter" [(ngModel)]="radioButtonChanger" (change)="onradioButtonChanged()">
      <span>War Movies ({{ warmovies }})</span>
    </label>
  </div>